{% extends "pretixcontrol/event/base.html" %}
{% load i18n %}
{% load eventurl %}
{% load urlreplace %}
{% block title %}{% trans "Waiting list" %}{% endblock %}
{% block content %}
    <h1>{% trans "Waiting list" %}</h1>
    <p>
    <form class="form-inline helper-display-inline" action="" method="get">
        <select name="status" class="form-control">
            <option value="a"
                    {% if request.GET.status == "p" %}selected="selected"{% endif %}>{% trans "All entries" %}</option>
            <option value="w"
                    {% if request.GET.status == "w" or not request.GET.status %}selected="selected"{% endif %}>{% trans "Waiting" %}</option>
            <option value="s"
                    {% if request.GET.status == "s" %}selected="selected"{% endif %}>{% trans "Voucher assigned" %}</option>
        </select>
        <select name="item" class="form-control">
            <option value="">{% trans "All products" %}</option>
            {% for item in items %}
                <option value="{{ item.id }}"
                        {% if request.GET.item|add:0 == item.id %}selected="selected"{% endif %}>
                    {{ item.name }}
                </option>
            {% endfor %}
        </select>
        <button class="btn btn-primary" type="submit">{% trans "Filter" %}</button>
    </form>
    </p>
    {% include "pretixcontrol/pagination.html" %}
    <div class="table-responsive">
        <table class="table table-condensed table-hover">
            <thead>
            <tr>
                <th>{% trans "User" %}</th>
                <th>{% trans "Product" %}</th>
                <th>{% trans "On the list since" %}</th>
                <th>{% trans "Status" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for e in entries %}
                <tr>
                    <td>{{ e.email }}</td>
                    <td>
                        {{ e.item }}
                        {% if e.variation %}
                            – {{ e.variation }}
                        {% endif %}
                    </td>
                    <td>{{ e.created|date:"SHORT_DATETIME_FORMAT" }}</td>
                    <td>
                        {% if e.voucher %}
                            <span class="label label-success">{% trans "Voucher assigned" %}</span>
                        {% else %}
                            <span class="label label-warning">{% trans "Waiting" %}</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% include "pretixcontrol/pagination.html" %}
{% endblock %}
